body {
  color: #ffffff;
}

.home {
  cursor: pointer;
  text-align: center;
  color: #c7b39b00;
}

.a1 {
  color: black;
}

.a2 {
  color: #ffffff;
}
.table-striped tbody .a2:hover {
  background: #0526e0;
  cursor: pointer;
}

.a3:hover {
  color: rgb(153, 0, 255);

}

.spinner-border {
  width: 14px;
  height: 14px;
}

.btn:not(:disabled):not(.disabled){
  padding: 10px;
  margin: 10px;
}
.button-center {
  text-align: center;
}
.card1{
  color: white;
}
.mb-3{
  background: #c7b39b00;
}