<style>
  body {
    background: #100436 url(https://ramki-vsem.ru/fony/fioletovyj-fon19.jpg);
    color: rgb(255, 255, 255);
    /* Цвет текста */
  }
</style>
<h1 align="center">Hello world</h1>


<div class="alert alert-primary" role="alert">
  Get all <LinkTo @route="users">Users</LinkTo>
</div>